<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <ul>
    <li><strong>Author:</strong> <%= books.author%></li>
    <li><strong>Title:</strong> <%= books.title%></li>
    <li><strong>ISBN:</strong> <%= books.isbn %></li>
  </ul>
</body>
</html>